<div class="container-fluid">
  <div class="form-check-inline">
  <h1 class="mr-lg-5">Course List</h1>
    <span>
  <a routerLink="/home"><button class="btn btn-secondary ml-lg-5 mr-sm-3">Home</button></a>
  <a routerLink="/profile"><button class="btn btn-info">Profile</button></a>
      </span>
</div>

  <ul class="list-group">
    <li  *ngFor="let course of courses"
         class="list-group-item"
         (click)="selectCourse(course.id)"
         [ngClass]="{'active': course.id == courseId}"
    >
      {{course.title}}
    </li>
  </ul>

  <h1>Add Section</h1>
  <input [(ngModel)]="sectionName"
         placeholder="Section Name"
         class="form-control">
  <input [(ngModel)]="seats"
         placeholder="Seats Capacity"
         class="form-control">
  <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
    Add Section
  </button>


  <h1>Section List</h1>
  <ul class="list-group">

    <li class="list-group-item"
        *ngFor="let section of sections">
      <input placeholder="Section Name"
             class="form-control"
             [(ngModel)]="section.name"/>
      <input placeholder="Section Seats"
             class="form-control"
             [(ngModel)]="section.seats"/>
      <button class="btn btn-outline-success"
              (click)="updateSection(section._id, section.name, section.seats)">Update</button>
      <button class="btn btn-outline-danger float-right"
              (click)="deleteSection(section._id)">Delete</button>
    </li>

  </ul>


