<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="email"
         placeholder="email"
         class="form-control"/>

  <button (click)="update(username, firstName, lastName, email)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <button (click)="logout()"
          class="btn btn-primary btn-block">
    Logout
  </button>

  <h2>Enrolled Sections</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of enrollments" class="list-group-item">
      {{enrollment.section.name}}
      ({{enrollment.section.seats}})
      <button class="btn btn-danger float-right"
              (click)="unEnrollment(enrollment)">Unenrollment</button>
    </li>
  </ul>

  <a routerLink="/home">Home</a>


</div>
